<html>
<head>
	<title>Home</title>
</head>
<body>
<h1>
	Hello world!  
</h1>

<P>  The time on the server is $asd. </P>

<a href="/controllersF1Manager/addDriver">add Driver </a></br>
<a href="/controllersF1Manager/addTeam">add Team </a></br>
<a href="/controllersF1Manager/getDriversByTeam">list driver by id:1 </a>
</body>
</html>
