<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
<meta http-equiv="content-language" content="hu">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="./resources/js/jquery_popup.js"></script>
<link href="./resources/css/style.css" rel="stylesheet" type="text/css" >
	<title>F1 Manager</title>
</head>
<body>
<div class = "all">

	<table class = "top" style="width:100%">
		<tr style="height:80%">
			<td colspan="2"> $nextRaceDate </td>
			<td> 
			</td>
			
			
		</tr>
		<tr>
			<td class = "menu"><b><a class = "menuLink" href="welcome">Home</a></b></td>
			<td class = "menu"><b><a class = "menuLink" href="profile">Profile</a></b></td>
			<td class = "menu"><b><a class = "menuLink" href="drivers">Drivers</a></b></td>
			<td class = "menu"><b><a class = "menuLink" href="teams">Teams</a></b></td>
		</tr>
	</table>
	
	#if($firstLogin == "firstLogin")
	<p><font color="red" size="30">Elobb jelentkezz be addig nem lathatod a profilod</p>
    #else
    	<p><font color="green" size="30">Szia $userName</p>            
    	<p>penzed: $yourMoney</p>
    	<p>pontok: $yourPoints</p>
    	<p>pilotaid:
    		#foreach($driver in $yourDrivers)
    			<li><font color="red">$driver.getName() </font> <a color = "green" href="sellDriver.$driver.getId()">elad</a></li>
    		#end
    		
    		#if($yourDrivers.size() < 2)
    		<a href="buyDriver">pilota vasarlas</a>
    		#end
    	</p>	
    	<p>csapataid: 
    	#foreach($team in $yourTeams)
    			<li><font color="red">$team.getName() </font> <a color = "green" href="sellTeam.$team.getId()">elad</a></li>
    		#end
    	</p>
    #end          
	
	
	<!--Contact Form -->
        <div id="contactdiv">
            <form class="form" action = "/controllersF1Manager/login" method="get" id="contact">
                <img src="./resources/button_cancel.png" class="img" id="cancel"/>	
                <h3>Login</h3>
                <hr/><br/>
                <label>Name: </label>
                <br/>
                <input type="text" id="username" name="nameOfUser" placeholder="Name"/><br/>      
                <input type="password" id="passwordLogin" name="passwordOfUser" placeholder="Password"/><br/>       
                <input type="submit" id="login" value="Login"/>
                <input type="button" id="cancel" value="Cancel"/>
                <br/>
            </form>
        </div>
        
        <!--Signup Form -->
        <div id="signupdiv">
            <form class="form" action = "/controllersF1Manager/signup" method="get" id="register">
                <img src="./resources/button_cancel.png" class="img" id="cancel"/>	
                <h3>Signup</h3>
                <hr/><br/>
                <label>Name: </label>
                <br/>
                <input type="text" id="yourname" name="nameOfUser" placeholder="Name"/><br/> 
                 <input type="password" id="passwordSignup" name="passwordOfUser" placeholder="Password"/><br/>          
                <input type="submit" id="signup" value="Signup"/>
                <input type="button" id="cancel" value="Cancel"/>
                <br/>
            </form>
        </div>
	
</div>

</body>
</html>
