<html>
<script>
var nextRaceDate = $nextRaceDate
</script>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
<meta http-equiv="content-language" content="hu">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="./resources/js/jquery_popup.js"></script>
<script src="./resources/js/timeUntilNextRace.js"></script>
<link href="./resources/css/style.css" rel="stylesheet" type="text/css" >
	<title>F1 Manager</title>
</head>
<body>
<div class = "all">

	<table class = "top" style="width:100%">
		<tr style="height:80%">
			<td colspan="2" > <font size="10" color = "green">$nextRaceLocation</font> <font size="5" color = "green" id="nextRaceTime"></font>  </td>
			<td colspan="2"> 
				#if( (!$successLogin && !$notSuccessLogin) || ($successLogin == "" && $notSuccessLogin == "") ) ##alapeset
					<font id="onclick">Login</font> <font id="onclickSignup">Signup</font>
					#if($successSignup == "successSignup")
						<font color="red">sikeres regisztracio</font>
					#end
					#if($notSuccessSignup == "notSuccessSignup")
					<font color="red">mar van ilyen user, sry</font>
					#end
				#end
				#if ($successLogin == "successLogin") ##sikeres belepes
					Hi $userName, <a id="logoutclick" href="/controllersF1Manager/logout">logout</a>
				#end
				#if ($notSuccessLogin == "alreadyLoggedin") ##mar bevan loggolva, nincs multiloggolas
					Hello megint $userName,<a id="logoutclick" href="/controllersF1Manager/logout">logout</a>
				#end
				#if ($notSuccessLogin == "notSuccessLogin") ##nincs ilyen user
					<font id="onclick">Login</font> <font id="onclickSignup">Signup</font><font color="red">nincs ilyen user,vagy rossz jelszo</font>
				#end
			</td> 
			
			
			
		</tr>
		<tr>
			<td class = "menu"><b><a class = "menuLink" href="welcome">Home</a></b></td>
			<td class = "menu"><b><a class = "menuLink" href="profile">Profile</a></b></td>
			<td class = "menu"><b><a class = "menuLink" href="drivers">Drivers</a></b></td>
			<td class = "menu"><b><a class = "menuLink" href="teams">Teams</a></b></td>
		</tr>
	</table>
	
	#if($firstLogin == "firstLogin")
	<p><font color="red" size="30">Elobb jelentkezz be addig nem lathatod a profilod</p>
    #else
    	#if($notEnoughMoneyToDriver == "notEnoughMoneyToDriver")
    		<p><font size="40" color="red">Nincs eleg penzed a kivalasztott pilota</font></p>
    	#end
    	#if($notEnoughMoneyToTeam == "notEnoughMoneyToTeam")
    		<p><font size="40" color="red">Nincs eleg penzed a kivalasztott csapatra</font></p>
    	#end
    	#if($alreadyHaveThisDriver == "alreadyHaveThisDriver")
    		<p><font size="40" color="red">Mar megvan ez a pilota, nem veheted meg megegyszer</font></p>
    	#end
    	#if($alreadyHaveThisTeam == "alreadyHaveThisTeam")
    		<p><font size="40" color="red">Mar megvan ez a csapat, nem veheted meg megegyszer</font></p>
    	#end
    	<p><font color="green" size="30">Szia $userName</p>            
    	<p>penzed: $yourMoney</p>
    	<p>pontok: $yourPoints</p>
    	<p>pilotaid:
    		#foreach($driver in $yourDrivers)
    			<li><font color="red">$driver.getName() </font> <a color = "green" href="sellDriver.$driver.getId()">elad</a></li>
    		#end
    		
    		#if($yourDrivers.size() < 2)
    		<a href="buyDriver">pilota vasarlas</a>
    		#end
    	</p>	
    	<p>csapataid: 
    		#foreach($team in $yourTeams)
    			<li><font color="red">$team.getName() </font> <a color = "green" href="sellTeam.$team.getId()">elad</a></li>
    		#end
    		#if($yourTeams.size() < 2)
    			<a href="buyTeam">csapat vasarlas</a>
    		#end
    	</p>
    #end          
	
	
	<!--Contact Form -->
        <div id="contactdiv">
            <form class="form" action = "/controllersF1Manager/login" method="get" id="contact">
                <img src="./resources/button_cancel.png" class="img" id="cancel"/>	
                <h3>Login</h3>
                <hr/><br/>
                <label>Name: </label>
                <br/>
                <input type="text" id="username" name="nameOfUser" placeholder="Name"/><br/>      
                <input type="password" id="passwordLogin" name="passwordOfUser" placeholder="Password"/><br/>       
                <input type="submit" id="login" value="Login"/>
                <input type="button" id="cancel" value="Cancel"/>
                <br/>
            </form>
        </div>
        
        <!--Signup Form -->
        <div id="signupdiv">
            <form class="form" action = "/controllersF1Manager/signup" method="get" id="register">
                <img src="./resources/button_cancel.png" class="img" id="cancel"/>	
                <h3>Signup</h3>
                <hr/><br/>
                <label>Name: </label>
                <br/>
                <input type="text" id="yourname" name="nameOfUser" placeholder="Name"/><br/> 
                 <input type="password" id="passwordSignup" name="passwordOfUser" placeholder="Password"/><br/>          
                <input type="submit" id="signup" value="Signup"/>
                <input type="button" id="cancel" value="Cancel"/>
                <br/>
            </form>
        </div>
	
</div>

</body>
</html>
