<html>
<script>
var nextRaceDate = $nextRaceDate
var userMoney = $userMoney
var nextRaceLocation = $nextRaceLocation
</script>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
<meta http-equiv="content-language" content="hu">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="./resources/js/jquery_popup.js"></script>
<script src="./resources/js/timeUntilNextRace.js"></script>
<script src="./resources/js/enoughMoney.js"></script>
<link href="./resources/css/style.css" rel="stylesheet" type="text/css" >
<link href="./resources/css/tableDriverTeam.css" rel="stylesheet" type="text/css" >
	<title>F1 Manager</title>
</head>
<body>
<div class = "all">

	<table class = "top" style="width:100%">
		<tr style="height:80%">
			#if($nextRaceLocation != "notNextRace")
				<td colspan="2" > <font size="10" color = "green">$nextRaceLocation</font>
			  	<font size="5" color = "green" id="nextRaceTime"></font>  </td>
			#else
				<td colspan="2" > <font size="10" color = "green">Nincs kovetkezo futam</font>
			  	<font size="5" color = "green"> </font>  </td>
			#end
			<td><a href="?locale=hu"><img src="./resources/img/hunFlag.png" width = "50px"></img></a><a href="?locale=en"><img src="./resources/img/gbFlag.jpg" width = "50px"></img></a></td>
			<td colspan="2"> 
				#if( (!$successLogin && !$notSuccessLogin) || ($successLogin == "" && $notSuccessLogin == "") ) ##alapeset
					<font id="onclick">Login</font> <font id="onclickSignup">Signup</font>
					#if($successSignup == "successSignup")
						<font color="red">sikeres regisztracio</font>
					#end
					#if($notSuccessSignup == "notSuccessSignup")
					<font color="red">mar van ilyen user, sry</font>
					#end
				#end
				#if ($successLogin == "successLogin") ##sikeres belepes
					Hi $userName, <a id="logoutclick" href="/controllersF1Manager/logout">logout</a>
				#end
				#if ($notSuccessLogin == "alreadyLoggedin") ##mar bevan loggolva, nincs multiloggolas
					Hello megint $userName,<a id="logoutclick" href="/controllersF1Manager/logout">logout</a>
				#end
				#if ($notSuccessLogin == "notSuccessLogin") ##nincs ilyen user
					<font id="onclick">Login</font> <font id="onclickSignup">Signup</font><font color="red">nincs ilyen user,vagy rossz jelszo</font>
				#end
			</td> 
			
			
		</tr>
		<tr>
			<td class = "menu"><b><a class = "menuLink" href="welcome">#springMessageText("message.homePage" "Home")</a></b></td>
			<td class = "menu"><b><a class = "menuLink" href="profile">#springMessageText("message.profilePage" "Profile")</a></b></td>
			<td class = "menu"><b><a class = "menuLink" href="drivers">#springMessageText("message.driversPage" "Drivers")</a></b></td>
			<td class = "menu"><b><a class = "menuLink" href="teams">#springMessageText("message.teamsPage" "Teams")</a></b></td>
		</tr>
	</table>
	
	#if(!$userMoney)
		<p id="driverList"><font size = "30px" color ="red"> csapatok </font></p>
	#else
		<p id="driverList"><font size = "30px" color ="red">Penzed: $userMoney</font></p>
	#end
	
	<table class="pure-table"> 
	<thead> 
		<tr>  
    		<th>Name</th> 
    		<th>Price</th> 
    		<th>Points</th> 
    		#if($buyTeam == "buyTeam")
    			<th>Buy</th>
    		#end
		</tr> 
	</thead> 
	<tbody> 
		#foreach($team in $teamList)
			<tr>
				<td>$team.getName()</td>
				<td>$team.getPrice()</td>
				<td>$team.getPoints()</td>
				#if($buyTeam == "buyTeam" && $team1Name != $team.getName())
					<td><a color = "green" href="buyingTeam.$team.getId()" onclick="return myFunction($team.getPrice())">megveszem</a></td>
				#end
			</tr>
		#end
	</tbody> 
</table>

<!--Contact Form -->
        <div id="contactdiv">
            <form class="form" action = "/controllersF1Manager/login" method="get" id="contact">
                <img src="./resources/button_cancel.png" class="img" id="cancel"/>	
                <h3>Login</h3>
                <hr/><br/>
                <label>Name: </label>
                <br/>
                <input type="text" id="username" name="nameOfUser" placeholder="Name"/><br/>      
                <input type="password" id="passwordLogin" name="passwordOfUser" placeholder="Password"/><br/>       
                <input type="submit" id="login" value="Login"/>
                <input type="button" id="cancel" value="Cancel"/>
                <br/>
            </form>
        </div>
        
        <!--Signup Form -->
        <div id="signupdiv">
            <form class="form" action = "/controllersF1Manager/signup" method="get" id="register">
                <img src="./resources/button_cancel.png" class="img" id="cancel"/>	
                <h3>Signup</h3>
                <hr/><br/>
                <label>Name: </label>
                <br/>
                <input type="text" id="yourname" name="nameOfUser" placeholder="Name"/><br/> 
                 <input type="password" id="passwordSignup" name="passwordOfUser" placeholder="Password"/><br/>          
                <input type="submit" id="signup" value="Signup"/>
                <input type="button" id="cancel" value="Cancel"/>
                <br/>
            </form>
        </div>
	
</div>

</body>
</html>